h1{
    text-align: center;
}
#bhai{
    border: 5px solid white;
    margin-left: 550px;
    margin-top: 50px;
}
html{
    background-color: black;
  }
  h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  }
P{
  text-transform: capitalize;
  color: white;
  margin-left: 540px;
}
#daenerys{
  border: 5px solid white;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
#meme{
  text-transform: capitalize;
  color: white;
  margin-left: 600px;
}